body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: xx-large;
    background-color: hsl(201, 14%, 19%);
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h1 {
    color: white;
}
img {
    height: 10rem;
}

.table {
    width: 100%;
    border-radius: 1rem;
    background-color: hsl(201, 14%, 19%);
    color: lightgray;
    overflow: hidden;
    border: .2rem solid hsl(201, 14%, 10%);
}
.thead, .tr {
    display: flex;
    flex-direction: row;
}

a {
    color: white;
}

.thead {
    background-color: hsl(201, 14%, 10%);
}

.header {
    display: flex;
    justify-content: center;
}

.tbody {
    display: flex;
    flex-direction: column;
}

.td, .th {
    display: flex;
    padding: 1rem;
    width: 50%;
}

.num {
    justify-content: center;
}

.text {
    padding-left: 1rem;
}

.tr:hover {
    background-color: #3282b8;
}

.tr:nth-child(even) {
    background-color: rgb(61, 68, 73);
}

.tr:nth-child(even):hover {
    background-color: #3282b8;
}